<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codoc"
        tools:targetApi="31">
        <activity
            android:name=".activity.pasien.EditMyJanjiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dokter.ProfileDokterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dokter.HomeDokterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pasien.EditProfilePasienActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pasien.ProfilePasienActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pasien.PasienBookingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dokter.DetailDokterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pasien.HomePasienActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.dokter.RegisterDokterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dokter.LoginDokterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pasien.RegisterPasienActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pasien.LoginPasienActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>